flask==2.0.2
gunicorn
albumentations
iglovikov_helper_functions
pytorch_lightning
pytorch_toolbelt
segmentation-models-pytorch

tqdm
people_segmentation
opencv-python
matplotlib
wget
datetime
tensorflow
werkzeug==2.1.2
flask_restx
tensorflow-io